/* Setup and properties for all elements */

* {
    font-family: monospace, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --blue: #99b8dd;
    --highlight: #703838;
    --darkblue: #213549;
}

html {
    scroll-behavior: smooth;
}

.mobile-only {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.section-title {
    border-bottom: 3px solid var(--highlight);
}

/* Navbar settings */

#navbar {
    width: 100vw;
    height: 12vh;
    background: var(--highlight);
    position: fixed;
    margin: auto;
    padding: 0 2em;
    top: 0%;
    left: 0%;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    list-style-type: none;
    text-align: right;
    padding: 0 2.5em;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

#home-button {
    font-size: 3em;
}

.nav-link {
    height: 100%;
}

a {
    color: var(--blue);
    padding: 3.8rem 5px;
}

.nav-link a:hover {
    animation: link-highlight 300ms linear forwards;
}

@keyframes link-highlight {
    0% {}

    100% {
        background-color: var(--darkblue);
        color: var(--blue);
        font-weight: 800;
    }

}

/* Settings for all body sections */

.main-section {
    height: 100vh;
    width: auto;
    padding: 5% 15%;
    font-size: 2em;
}

.tile {
    border: 2px solid white;
    border-radius: 20px;
    padding: 2rem 3rem;
    height: 90%;
    width: auto;
}

/* Welcome section settings */

#welcome-section {
    background-color: var(--darkblue);
    color: var(--blue);
    text-align: center;
}

#hi {
    font-size: 3em;
}

.demographics {
    font-size: 0.8em;
}

/* Experience section settings */

#experience {
    background-color: var(--blue);
    color: var(--darkblue);
    font-size: 1.5em;
}

.job-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Education section settings */

#education {
    background-color: var(--darkblue);
    color: var(--blue);
}

/* certs/license section settings */

#certifications {
    background-color: var(--blue);
    color: var(--darkblue);
}

.cert-wrapper {
    width: 60vw;
    height: 70vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.cert-wrapper .tile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.place-holder {
    border: none;
    background-color: var(--darkblue);
}

.cert-wrapper .tile:nth-of-type(1) {
    grid-column: span 2;
    background-color: var(--highlight);
    color: var(--blue)
}

/* projects section settings */

#projects {
    background-color: var(--darkblue);
    color: var(--blue);
}

#project-wrapper {
    display: flex;
}

.project-section {
    width: 30vw;
    text-align: center;
    margin: 10px auto;
}

.project-list-title {
    font-size: 5rem;
    border-bottom: 2px solid var(--highlight)
}

.project-list {
    width: 30vw;
    margin: 10px auto;
}

.project-list li{
    margin: 2rem auto;
}

#nursing-section .project-list li {
    margin-bottom: 3rem;
}

#programming-section .project-list {
    display: flex;
    flex-direction: column;
}

.project-tile img {
    width: 150px;
}

/* outro/links section settings */

#outro {
    background-color: var(--highlight);
    color: var(--blue);
}

.fa:hover {
    color: var(--darkblue)
}